<% include ./partials/header %>

    <header id="showcase" class="grid">
        <div class="bg-image"></div>
        <div class="content-wrap">
            <h1>Teretulemast!</h1>
            <p>Tere minu nimi on Peep Noorkõiv, ja see on minu portfolio. Olen 21 aastane noormees, kellele meeldib ehitada uusi veebisaite. Lisaks sellele on mu hobideks tegeleda jõu treeniguga ja muusika produksiooniga.</p>
        </div>
    </header>
    
    <main id="main">
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Minust</h2>
                <div class="content-text">
                    <p>Alustasin veebi arenduse õppimisega 2018 aasta Veebruaris. Enne seda õppisn 2 ja pool aastat Maaülikoolis kahel erineval õppekaval: Tehnotroonika ja Tehnika ja Tehnoloogia. Novembris sain aru, et tegu pole minu alaga ja pärast seda alustasin Pythoni õppimisega. Pythonis õppisin selgeks progarmmerimise põhimõtted. Veebruaris otsustasin, alustada veebiarenduse õppimiseaga. Tegin läbi Udemiys kursusse nimega "The Web Developer Bootcamp", kus õppisin HTMLi CSSi ja JavaScripti. Kursusel käsitleti ka backend tehnoloogiatena Node.js'i, Express'i ja MongoDB'd. Antud portfolio leht on esimene suurem iseseisvalt tehtud web app, kuid Udemy kursusel olen valmis teinud ühe suurema web appi nimega YelpCamp.</p>
                </div>
            </div>
        </section>
    </main>
    
    

<% include ./partials/footer %>