<% include ./partials/header %>

    <header id="showcase" class="grid">
        <div class="bg-image"></div>
        <div class="content-wrap">
            <h1>Welcome!</h1>
            <p>Hi my name is Peep Noorkõiv, and this is my portfolio. I am 21 year old guy, who likes to build websites. Futhermore my hobbies are weight training and music production.</p>
        </div>
    </header>

<% include ./partials/footer %>