<% include ./partials/header %>

    <header id="showcase" class="grid">
        <div class="bg-image"></div>
        <div class="content-wrap">
            <h1>Welcome!</h1>
            <p>Hi my name is Peep Noorkõiv, and this is my portfolio. I am 21 year old guy, who likes to build websites. Futhermore my hobbies are weight training and music production.</p>
        </div>
    </header>
    
    <main id="main">
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">About me</h2>
                <div class="content-text">
                    <p>I started learning web development in February 2018. Before that I studied engineering two and a half years at Estonian University of Life Sciences. Last November I realized that this isn't for me and I started learning Python. in Python i studied programming core principles. in February i started learning Web Development. I went through The Web Developer Bootcamp at Udemy, where i learned HTML, CSS and JavaScript. Also I was introduced to back-end technologies Node.js, Express and MongoDB. This portfolio website is my first larger web app, what I have made on my own. During Udemy course I made one bigger bigger app called YelpCamp.</p>
                </div>
            </div>
        </section>
    </main>
    
    <section id="tehtudtood" class="grid">
        
    </section>
    
    <section id="contact" class="grid">
        <div class="content-wrap">
            <h2 class="content-title">Contact Me</h2>
            <p>Email: peepnoor@gmail.com</p>
            <a href="https://github.com/peepNoork6iv">GitHub</a>
        </div>
    </section>

<% include ./partials/footer %>