<% include ./partials/header %>

    <header id="showcase" class="grid">
        <div class="bg-image"></div>
        <div class="content-wrap">
            <h1>Teretulemast!</h1>
            <p>Tere minu nimi on Peep Noorkõiv, ja see on minu portfolio. Olen 21 aastane noormees, kellele meeldib ehitada uusi veebisaite. Lisaks sellele on mu hobideks tegeleda jõu treeniguga ja muusika produksiooniga.</p>
        </div>
    </header>

<% include ./partials/footer %>