<!DOCTYPE html>
<html>
    <head>
        <title>PEEP PORTFOLIO</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    </head>
    <body>
        <div class="content">
            <h1>PEEP NOORKÕIV</h1>
            <h2>Portfolio</h2>
            <hr>
            <button>Get Sarted!</button>
            <button>Alusta</button>
        </div>
        <p id="photo-credit">Photo by Hope House Press on Unsplash</p>
    </body>
</html>