body {
    margin: 0;
    font-family: Lato, sans-serif;
    background: #334;
    color: #ddf;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,h2,h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

a {
    color: #ddf;
    text-decoration: none;
}

/*header*/

#showcase {
    min-height: 400px;
    color: #eef;
    text-align: center
}

#showcase .bg-image{
    position: absolute;
	background: #333 url("https://images.unsplash.com/photo-1516116216624-53e697fedbea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0f388c03c3f15daa78a7afd93b2ff3e3&auto=format&fit=crop&w=800&q=80");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	z-index: -1;
	opacity: 0.4
}

#showcase h1 {
    font-weight: 700;
	padding-top: 100px;
	padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
	padding: 0 1.5em;
}

#section-a {
    background: #eaeaed;
    color: #223;
}

#main-footer{
    padding: 2em;
    background: #000;
    color: #ddf;
    text-align: center;
}

#contact{
    padding-bottom: 2em;
    background: #5c9dff;
}

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    
    #section-a .content-text {
        columns: 2;
        column-cap: 2em;
        padding-bottom: 20px;
    }
    
    #section-a .content-text p {
        padding-top: 0;
    }
    
    .content-wrap{
        grid-column: 2/4;
    }
    
    h1 {
        font-size: 4em;
    }
}